@tailwind base;
@tailwind components;
@tailwind utilities;

.content h1,
.content h2,
.content h3 {
  margin-bottom: 20px;
  font-weight: 500;
}

.content h1 {
  font-size: 36px;
}

.content h2 {
  font-size: 30px;
}

.content h3 {
  font-size: 36px;
}

.content p {
  margin-bottom: 15px;
}
